
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            /* Remove the navbar's default rounded borders and increase the bottom margin */ 
            .navbar {
            margin-bottom: 50px;
            border-radius: 0;
            }
            
            /* Remove the jumbotron's default bottom margin */ 
            .jumbotron {
            margin-bottom: 0;
            }
        
            /* Add a gray background color and some padding to the footer */
            footer {
            background-color: #f2f2f2;
            padding: 25px;
            }
        </style>
    </head>
    <body>

        <div class="jumbotron">
            <div class="container text-center">
                <h1>Explorer Store</h1>      
                <p>Find a Great Deal</p>
            </div>
        </div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <!--<a class="navbar-brand" href="#">Logo</a>-->
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav ">
                        <li class="active"><%= link_to "Home", welcome_path %></li>
                        <li><%= link_to "My Auctions", auctions_path %></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                        <% else %>
                        <li><%= link_to 'Sign In', new_user_session_path %></li>
                        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- TODO: rework this form to actually use Rails syntax, if it doesn't already-->
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="inputOne">Input One</label>
                <input type="text" class="form-control" id="inputOne" placeholder="Item">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputTwo">Input Two</label>
                <input type="text" class="form-control" id="inputTwo" placeholder="Tag">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>


    <div class="container">    
    <div class="row">
        <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">BLACK FRIDAY DEAL</div>
            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            <p><p><%= link_to "More info", auctions_path %></p></p>
        </div>
        </div>
        <div class="col-sm-4"> 
        <div class="panel panel-danger">
            <div class="panel-heading">BLACK FRIDAY DEAL</div>
            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            <p><p><%= link_to "More info", auctions_path %></p></p>
        </div>
        </div>
        <div class="col-sm-4"> 
        <div class="panel panel-success">
            <div class="panel-heading">BLACK FRIDAY DEAL</div>
            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            <p><p><%= link_to "More info", auctions_path %></p></p>
        </div>
        </div>
    </div>
    </div><br>

    <div class="container">    
    <div class="row">
        <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">BLACK FRIDAY DEAL</div>
            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            <p><p><%= link_to "More info", auctions_path %></p></p>
        </div>
        </div>
        <div class="col-sm-4"> 
        <div class="panel panel-primary">
            <div class="panel-heading">BLACK FRIDAY DEAL</div>
            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            <p><p><%= link_to "More info", auctions_path %></p></p>
        </div>
        </div>
        <div class="col-sm-4"> 
        <div class="panel panel-primary">
            <div class="panel-heading">BLACK FRIDAY DEAL</div>
            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            <p><p><%= link_to "More info", auctions_path %></p></p>
        </div>
        </div>
    </div>
    </div><br><br>

    <footer class="container-fluid text-center">
    <p>Online Store Copyright</p>  
    <form class="form-inline">Get deals:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
    </footer>



    </body>
</html>
