<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            /* Remove the navbar's default rounded borders and increase the bottom margin */ 
            .navbar {
            margin-bottom: 50px;
            border-radius: 0;
            }
            
            /* Remove the jumbotron's default bottom margin */ 
            .jumbotron {
            margin-bottom: 0;
            }
        
            /* Add a gray background color and some padding to the footer */
            footer {
            background-color: #f2f2f2;
            padding: 25px;
            }
        </style>
    </head>
    <body>

        Auction ID: <%= auction.id %>
        <br><br>

        <span>Item Name: <%= auction.item_name%>            </span><br>
        Description: <%= auction.item_description%>         </span><br>
        <% if  auction.win_price != 0 %>
            <% if auction.auction_open_status%>

            <span>Win Price: <%= auction.win_price%>            </span><br>

            <% else %>

            <span class="text-muted">Win Price: <%= auction.win_price%>     </span><br>

            <% end %>
        <% end %>
		<br><br><br>

        <% if auction.auction_open_status %>
            <%= form_with model: bid, url: bids_path, method: :post, local: true, scope: :bid do |f|%>
                <%= f.label :bid_amount%>
                <%= f.number_field :bid_amount%>

                <%= f.hidden_field :auction_id, :value => auction.id%>

                <%= f.submit "Place Bid", :class => "btn btn-dark btn-sm" %>
            <% end %>
        <% end %>
        <br>
        <% if bids.length > 0%>
        <table class="table">
            <tr>
                <th>User</th>
                <th>Bid Amount</th>
            </tr>
            <% bids.each do |b|%>
            <tr>
                <td><%= b.user_id %></td>
                <td>$ <%= b.bid_amount %></td>
            </tr>
            <% end %>
        </table>
        <% else %>
        There are no bids on this item!
        <% end %>


        <% if reviews.length > 0%>
         <table class="table">
            <tr>
                <th>Title</th>
                <th>Review</th>
                <th>Rating</th>

            </tr>
            <% reviews.each do |r|%>
            <tr>
                <td><%= r.title %></td>
                <td><%= r.body %></td>
                <td><%= r.rating %></td>
            </tr>
            <% end %>
        </table>
        <% else %>
        There are no reviews on this item!
        <% end %>

    </body>
</html>