<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            /* Remove the navbar's default rounded borders and increase the bottom margin */ 
            .navbar {
            margin-bottom: 50px;
            border-radius: 0;
            }
            
            /* Remove the jumbotron's default bottom margin */ 
            .jumbotron {
            margin-bottom: 0;
            }
        
            /* Add a gray background color and some padding to the footer */
            footer {
            background-color: #f2f2f2;
            padding: 25px;
            }
        </style>
    </head>
    <body>

        <div class="jumbotron">
            <div class="container text-center">
                <h1>Explorer Store</h1>
                <p>Find a Great Deal</p>
            </div>
        </div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <!--<a class="navbar-brand" href="#">Logo</a>-->
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav ">
                    <li><%= link_to "Home", welcome_path %></li>
                    <li><%= link_to "My Auctions", auctions_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                    <% else %>
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                    <% end %>
                </ul>
                </div>
            </div>
        </nav>

        Auction ID: <%= auction.id %>
        <br><br>

        <span>Item Name: <%= auction.item_name%>            </span><br>
        Description: <%= auction.item_description%>         </span><br>
        <% if auction.auction_open_status %>

        <span>Win Price: <%= auction.win_price%>            </span><br>

        <% else %>

        <span class="text-muted">Win Price: <%= auction.win_price%>     </span><br>

        <% end %>
		<br><br><br>


        <% if bids.length > 0%>
        <table class="table">
            <tr>
                <th>User</th>
                <th>Bid Amount</th>
            </tr>
            <% bids.each do |b|%>
            <tr>
                <td><%= b.user_id %></td>
                <td><%= b.bid_amount %></td>
            </tr>
            <% end %>
        </table>
        <% else %>
        There are no bids on this item!
        <% end %>

		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </body>
</html>