<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            /* Remove the navbar's default rounded borders and increase the bottom margin */ 
            .navbar {
            margin-bottom: 50px;
            border-radius: 0;
            }
            
            /* Remove the jumbotron's default bottom margin */ 
            .jumbotron {
            margin-bottom: 0;
            }
        
            /* Add a gray background color and some padding to the footer */
            footer {
            background-color: #f2f2f2;
            padding: 25px;
            }
        </style>
    </head>
    <body>

        <h5>Creating New Auction</h5>

        <%= form_with url: auctions_path, method: :post, local: true, scope: :auction do |f| %>
            <div>
                <%= f.label :item_name %><br>
                <%= f.text_field :item_name %>
            </div>
            
            <div>
                <%= f.label :item_description %><br>
                <%= f.text_field :item_description %>
            </div>

            <div>   
                <%= f.label :start_price %><br>
                <%= f.number_field :start_price %>
            </div>

            <div>
                <%= f.label :win_price %><br>
                <%= f.number_field :win_price %>
            </div>

            <div>
                <%= f.label :auction_ends %><br>
                <%= f.date_field :auction_ends %>
            </div>

            <div>
                <%= f.submit "Create Auction"%>
            </div>
        <% end %>
    </body>
</html>